@using StoryPromptMVC.Models.Prompt
@using StoryPromptMVC.Models.Story
@model PromptVM //Add another viewmodel with both promptRecived and storyToCreate

<h3>Create ur story</h3>

<form asp-action="CreateStory" method="post">
	<div>
		<label asp-for="userName">Username:</label>
		<input type="text" asp-for="userName" />
		<label asp-for="email">Email:</label>
		<input type="text" asp-for="email" />
		<label asp-for="password">Password:</label>
		<input type="password" asp-for="password" />
	</div>
	<button type="submit">Create user</button>
</form>
