@using StoryPromptMVC.Models.Prompt
@model IEnumerable<NewPromptVM>

@{
    ViewData["Title"] = "Top page";
}

@foreach (var prompt in Model)
{
    <div class="container-fluid bg-light mt-0">
        <div class="row justify-content-md-center">
            <div class="col col-md-auto p-2">
                <div class="border border-dark rounded p-2">
                    <h3>Daily Prompt</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <a asp-controller="profile" asp-action="Index" asp-route-id="@prompt.user.Id">
                    <h5>@prompt.user.UserName</h5>
                </a>
            </div>
        </div>
        <div class="row">
            <p>
                @prompt.PromptContent
            </p>
        </div>
        <div class="row">
            <div class="col">

                <div class="d-flex align-items-center mt-2">
                    <div class="border border-dark rounded p-1">
                        Likes
                    </div>
                    <form action="/" method="post">
                        <i class="fa-solid fa-thumbs-up m-2"
                           style="cursor: pointer;"
                           onclick="this.closest('form').submit();"></i>
                    </form>

                    <form action="/" method="post">
                        <i class="fa-solid fa-thumbs-down m-2"
                           style="cursor: pointer;"
                           onclick="this.closest('form').submit();"></i>
                    </form>

                    <a class="text-black m-2" asp-controller="story" asp-action="comments">
                        <i class="fa-solid fa-comment"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
}
