@{
    ViewData["Title"] = "Home Page";
}



<div>
    <div class="container-fluid bg-light mt-3 dailyPrompt">
        <div class="row justify-content-md-center ">
            <div class="col col-md-auto p-2">
                <div class="border-bottom border-dark p-2">
                    <h4>Daily prompt<h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-left">
                <small class="text-muted">Written by: Daily</small>
                <div class="border-bottom">
                </div>
            </div>
            
        </div>
        <div class="row">
            <p>
                You’re a superhero who’s been unknowingly dating your nemesis’s sister. She invites you to meet the family.
            </p>
        </div>
        <div class="row">
            <div class="col">

                @* <div class="d-flex align-items-center mt-2">
                    <div class="border border-dark rounded p-1">
                        Likes
                    </div>
                    <form action="/" method="post">
                        <i class="fa-solid fa-thumbs-up m-2"
                           style="cursor: pointer;"
                           onclick="this.closest('form').submit();"></i>
                    </form>


                    <form action="/" method="post">
                        <i class="fa-solid fa-thumbs-down m-2"
                           style="cursor: pointer;"
                           onclick="this.closest('form').submit();"></i>
                    </form>

                    <a class="text-black m-2" href="#">
                        <i class="fa-solid fa-comment"></i>
                    </a>
                </div> *@
            </div>
        </div>
    </div>
    <div class="container-fluid justify-content-center mt-3">
        <div class="row">
            <div class="col leftSide">
                <h1 class="nameIntro mt-3">
                    <strong>We're Promptly.</strong>
                </h1>
                <h4 class="nameDescriptionIntro text-muted">Make your ideas come to life.</h4>
                <div class="introText mt-5">
                    <p>
                        Welcome to Promptly, a creative space where imagination knows no bounds!
                    </p>
                    <p>
                        Here, you can unleash your creativity by writing prompts and stories that inspire other. Whether you're an
                        aspiring writer, a seasoned storyteller, or simply someone who loves to explore new ideas,
                        our website is the perfect place to connect with like-minded individuals.
                    </p>
                    <p>
                        Join us and turn ideas into stories, one prompt at a time!
                    </p>
                </div>
               <div>
                    <img class="imgStory d-none d-sm-inline" src="~/images/Final-Story.svg" />
               </div>
                
            </div>

            <div class="col rightSide ">   
                <div>  
                    <img class="imgPrompt d-none d-sm-inline" src="~/images/final2-prompt.svg" />
                </div>
                <h1 class="nameIntro mt-3">
                    <strong>How it works.</strong>
                </h1>
                
                <div class="introText mt-5">
                    <h5>
                        Scroll the site and read prompts and stories,
                    </h5>
                    <h6 class="text-muted">Or create an account </h6>
                    <h5>
                        To start writing your own prompts!
                    </h5>
                    <h6 class="nameDescriptionIntro text-muted">or..</h6>
                    <h5>
                        Find an interesting prompt, and write your own story based on it!
                    </h5>
                </div>
            </div>

        </div>
        <div class="row">

        </div>
    </div>
    
</div>
